


    section {
        width: 960px;
        height: 768px;
        text-align: center;
        margin: auto;
        
    }
    div {
        background-color: #d8d8d8 ;
        box-sizing: border-box;
        border: 1px solid gray;
        padding: 50px;
        
    }



@media (max-width: 768px ) {
   
    section {
        width: 480px;
        height: 767px;
        text-align: center;
        margin: auto;
        
    }
    div {
        background-color: #d8d8d8 ;
        box-sizing: border-box;
        border: 1px solid gray;
        padding: 50px;
        
    }
}