@media (min-width: 768px ) {
  

body {
    background-color : white;
    width: 100%;
    margin: auto;
}
section {
    width: 960px;
    height: 768px;
    text-align: center;
    margin: auto;
    
}
div {
    background-color: #d8d8d8 ;
    box-sizing: border-box;
    border: 1px solid gray;
    padding: 50px;
    
}
.a {
 
    width: 960px;
    height: 100px;
}
.b {
    width: 200px;
    height: 600px;
    float: left;
    padding-top: 300px;
}
.c {
    width: 380px;
    height: 200px;
    float: left;
    padding-top: 100px;
    
}
.d {
    width: 380px;
    height: 200px;
    float: right;
    padding-top: 100px;
}
.e {
    width: 190px;
    height: 250px;
    float: left;
    padding-top: 125px;
}
.f {
   width: 190px;
    height: 250px;
    float: left;
    padding-top: 125px;

}
.g {
   width: 190px;
    height: 250px;
    float: left;
    padding-top: 125px;

}
.h {
   width: 190px;
    height: 250px;
    float: right;
    padding-top: 125px;

}
.i {
    width: 760px;
    height: 150px;
    float: right;
}

}


@media (max-width: 767px ) {
   

body {
    background-color : white;
    width: 100%;
    margin: auto;
}
section {
    width: 480px;
    height: 767px;
    text-align: center;
    margin: auto;
    
}
div {
    background-color: #d8d8d8 ;
    box-sizing: border-box;
    border: 1px solid gray;
    padding: 50px;
    
}
.a {
 
    width: 480px;
    height: 75px;
   
}
.b {
    width: 480px;
    height: 150px ;
    padding-top: 75px;
}
.c {
    width: 480px;
    height: 125px;
    padding-top: 62.5px;
    
}
.d {
    width: 480px;
    height: 125px;
    padding-top: 62.5px;
}
.e {
    width: 240px;
    height: 250px;
    float: left;
    padding-top: 125px;
}
.f {
   width: 240px;
    height: 250px;
    float: right;
    padding-top: 125px;

}
.g {
    width: 240px;
    height: 250px;
    float: left;
    padding-top: 125px;

}
.h {
    width: 240px;
    height: 250px;
    float: right;
    padding-top: 125px;

}
.i {
    width: 480px;
    height: 80px;
    padding-top: 40px;
    float: left;
    
}

}

