body {
    background-color : white;
}

    .a {
        background-color: rgb(22, 46, 22);
    }
    .b {
        background-color: rgb(42, 89, 42);
    }
    .c {
        background-color: rgb(69, 126, 69);
        
    }
    .d {
        background-color: rgb(93, 162, 93);
    }
    .e {
        background-color: rgb(124, 187, 124);
    }
    .f {
        background-color: rgb(153, 211, 153);
    
    }
    .g {
        background-color: rgb(190, 233, 190);
    
    }
    .h {
        background-color: rgb(188, 206, 188);
    
    }
    .i {
        background-color: rgb(238, 243, 238);
    }
    



@media (max-width: 768px ) {
   
    .a {
        background-color: rgb(20, 8, 28);
       
    }
    .b {
        background-color: rgb(31, 13, 43);
    }
    .c {
        background-color: rgb(47, 23, 63);
        
    }
    .d {
        background-color: rgb(65, 33, 87);
    }
    .e {
        background-color: rgb(84, 43, 111);
    }
    .f {
        background-color: rgb(101, 55, 131);
    
    }
    .g {
        background-color: rgb(118, 72, 148);
    
    }
    .h {
        background-color: rgb(125, 87, 150);
    
    }
    .i {
        background-color: rgb(175, 150, 192);
        
    }
    
}